# Ignore virtual environments
.venv/

# Bytecode and cache
__pycache__/
*.py[cod]

# Jupyter notebooks & checkpoints (if used)
.ipynb_checkpoints/

# Logs, data, etc.
*.log
*.csv
*.tsv
*.pkl

# VSCode settings
.vscode/